{:webserver/port 3000
 :webserver/host "127.0.0.1"

 ;:nrepl/port     7002

 :mongo/uri      "mongodb://mo14601_eckers:Teas.Firma95@mongo2.mydevil.net/mo14601_eckers"

 :timbre/level   :info

 :postman/host   "mail2.mydevil.net"}